<div class="card-content">
  <ul class="collectionn" style="background-color:rgb(50, 145, 201);">
    <li class="collection-item" *ngFor="let video of videoList">
      <span
        ><b>{{ video.title }}</b> by <b>{{ video.author }}</b> ({{
          video.id
        }})</span
      >
      <ul class="collection">
        <li
          class="collection-item"
          *ngFor="let details of video.viewDetails"
        >
          <ul class="collection">
            <li class="collection-item">
              <span><b>Age:</b> {{ details.age }}</span>
            </li>
            <li class="collection-item">
              <span><b>Region:</b> {{ details.region }}</span>
            </li>
            <li class="collection-item">
              <span><b>Date:</b> {{ details.date }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
